

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  /* padding: 20px; */
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.statementsButton {
  text-align: left;
}



td {
  font-size: 12px;
  height: 12px;

}


.navbar {
  background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.dateForm {

  display: inline;
}

.transactionContainer {
  width: 800px;
  margin-left: 23%;
}



table
{
	width: 10%;
	border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
  text-align: center;
}

thead
{
  margin: auto;
	display: block;
	width: 1050px;
	overflow: auto;
  background: #231557;
  text-align: left;
  color: white;
}

tbody
{
	display: block;
  margin: auto;
	width: 1050px;
	height: 625px;
  /* height: 475px; */

	overflow: auto;
}

th,td
{
	text-align: left;
	vertical-align: top;
  width: 150px;
	border-left: 1px solid #fff;
  padding: 0, !important;
  margin: 0, !important;
}

.inlineContainer {
  display: flex;
  margin-left: 36%;
}

h1 {
  font-size: 72px;
  font-family: 'Pacifico', cursive !important;
  background: -webkit-linear-gradient(-225deg, #FFF800 0%, #FF1361 29%, #44107A 67%, #231557 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

tr:nth-child(even) {
    background-color: #FFFDE7;
}

p {
  font-size: 16px;
  background: -webkit-linear-gradient(-225deg, #FFF800 0%, #FF1361 29%, #44107A 67%, #231557 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong {
  color: white;
  font-family: 'Pacifico', cursive !important;
}
